@import "tailwindcss";

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Inter", sans-serif;
        color: #fff;
        background-color: #000;
    }

    html {
        scroll-behavior: smooth;
    }
}

@layer ultilities {
    .text-gradient {
        background: linear-gradient(315deg, rgb(37 99 235) 0%, rgb(249 115 22) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}